.detailuser-table tbody tr td input{
	margin-bottom: 10px;
}
#dataTable thead tr th ,td {
	text-align: center;
}
.groupaction ul li{
	padding:2px 0px 2px 16px;
} 
.div-modalnewsinfo div input , textarea{
	margin-top: 10px;
}